.post_detail {
  margin-bottom: 2em;
}

.post_detail img {
  max-width: 600px;
}

.post_detail h2 {
  margin-bottom: 0.4em;
}

.post_detail .tags {
  margin-bottom: 1.2em;
  display: flex;
}

.tags p {
  margin-right: 0.5em;
  color: gold;
}

.tags span {
  font-weight: bold;
}

.createdby {
  font-style: italic;
  color: rgb(90, 235, 138);
  font-size: 1.1em;
  margin-bottom: 1em;
}

p {
  letter-spacing: 1px;
  word-spacing: 5px;
  line-height: 1.5em;
}