.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem;
}

.dashboard h2 {
  font-family: var(--font-main);
  text-align: center;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  
  color: var(--color-text);
}

.dashboard p {
  color: var(--color-text-light);
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

.post_list_container {
  width: 100%;
  max-width: 1000px;
}

.noposts {
  text-align: center;
  padding: 2rem;
}

.noposts p {
  margin-bottom: 1.5em;
  color: var(--color-text-light);
}

.post_header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  
  border-bottom: 2px solid var(--color-border);
  
  width: 100%;
  padding: 1rem;
  font-size: 1.1rem;
  color: var(--color-text-light);
}

.post_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  border-bottom: 1px solid var(--color-border);
  
  width: 100%;
  padding: 1rem;
}

.post_row p {
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.loading {
  padding: 4rem;
  text-align: center;
  color: var(--color-text-light);
  font-size: 1.2rem;
}