.footer {
  padding: 2.5rem 0;
  margin-top: 4rem; 
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  
  color: var(--color-text-light);

  border-top: 1px solid var(--color-border);

  width: 100%;
  text-align: center;
}

.footer h3 {
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  
  color: var(--color-text);
}

.footer p {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}